<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center start">
  <div fxLayout="row" fxFill fxFlex="100%" fxLayoutAlign="space-between center">
    <mat-label fxFlex="90%">{{ 'CONTACT.FIELD.PHONE_NUMBERS' | translate }}</mat-label>
    <button mat-icon-button color="primary" aria-label="Add">
      <mat-icon (click)="addNew()">add_circle_outline</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxFill fxFlex="100%" fxLayoutAlign="space-between center"
       *ngFor="let element of entities">
    <div fxLayout="column" fxFlex="40%">
      <mat-form-field floatLabel="never">
        <phone-number-input [hidePlaceholderOnFocus]="true" [placeholder]="'CONTACT.FIELD.PHONE_NUMBERS.NUMBER' | translate"
                            [formControl]="findControlsFor(element)[0]" required></phone-number-input>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="40%">
      <mat-form-field floatLabel="never">
        <mat-label>Type</mat-label>
        <mat-select value="{{element.type}}" [formControl]="findControlsFor(element)[1]"
                    (selectionChange)="changePhoneType(element, $event)">
          <mat-option *ngFor="let type of availablePhoneTypes" value="{{type}}">
            {{getPhoneNumberTypeDescription(type)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-icon-button color="warn" aria-label="Remove">
      <mat-icon (click)="removeEntity(element)">remove_circle_outline</mat-icon>
    </button>
  </div>
  <span style="padding-bottom: 5px" *ngIf="entities.length < 1"></span>
</div>

