<mat-horizontal-stepper [linear]="true" #stepper class="register-new-org-component">
    <mat-step [stepControl]="orgFormGroup">
        <div class="register-new-org-form-step-container">
            <form [formGroup]="orgFormGroup" class="flex-column register-new-org-form-step">
                <ng-template matStepLabel>Шаг 1<br/>Приступим!</ng-template>
                <h1>Приступим!</h1>
                <p>Вся ваша команда включится в работу с первого дня с самой легкой в использовании CRM на рынке.
                    Интерфейс интуитивно понятен и не требует обучения или периода внедрения и адаптации. В течение
                    14
                    дней сервисом можно пользоваться бесплатно. <b>Скачивать программное обеспечение не
                        требуется.</b>
                </p>
                <mat-form-field>
                    <input matInput placeholder="Organization name" formControlName="orgName" required>
                </mat-form-field>
                <mat-form-field>
                    <country-input formControlName="country" placeholder="Country" required></country-input>
                </mat-form-field>
                <div class="flex-row flex-end">
                    <button mat-button (click)="resetAndClose()">Отменить</button>
                    <button mat-button matStepperNext>Далее</button>
                </div>
            </form>
        </div>
    </mat-step>
    <mat-step [stepControl]="ownerFormGroup">
        <div class="register-new-org-form-step-container">
            <form [formGroup]="ownerFormGroup" class="flex-column register-new-org-form-step">
                <ng-template matStepLabel>Шаг 2<br/>Контакты</ng-template>
                <h2>Предоставьте свою контактную информацию</h2>
                <p>Вы создаете аккаунт JCRM, поэтому будете назначены администратором.
                    Позже эту роль можно передать другому пользователю.</p>
                <mat-form-field>
                    <input matInput placeholder="First name" formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Second name" formControlName="secondName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Third name" formControlName="thirdName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" type="email" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password" type="password" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password confirm" formControlName="passwordConfirm" type="password"
                           required>
                </mat-form-field>
                <mat-form-field>
                    <phone-number-input formControlName="phoneNumber" placeholder="Phone number"
                                        required></phone-number-input>
                </mat-form-field>
                <div class="flex-row">
                    <button mat-button matStepperPrevious>Назад</button>
                    <span class="space-filler"></span>
                    <button mat-button (click)="resetAndClose()">Отменить</button>
                    <button mat-button matStepperNext>Далее</button>
                </div>
            </form>
        </div>
    </mat-step>
    <mat-step>
        <div class="register-new-org-form-step-container">
            <form [formGroup]="subscribeFormGroup" class="flex-column register-new-org-form-step">
                <ng-template matStepLabel>Шаг 3<br/>Подписка</ng-template>
                <h2>Будьте в курсе</h2>
                <p>Хотите получать новости и персональные рекомендации по настройке и управлению информацией?</p>
                <mat-radio-group class="flex-column" formControlName="subscribe">
                    <mat-radio-button class="radio-button-vertical" value="true">Yes</mat-radio-button>
                    <mat-radio-button class="radio-button-vertical" value="false">No</mat-radio-button>
                </mat-radio-group>
                <div class="flex-row">
                    <span class="space-filler"></span>
                    <button mat-button (click)="resetAndClose()">Отменить</button>
                    <button mat-button matStepperNext (click)="sendEmailConfirmation()">Далее</button>
                </div>
            </form>
        </div>
    </mat-step>
    <mat-step>
        <div class="register-new-org-form-step-container">
            <form [formGroup]="activationFormGroup" class="flex-column register-new-org-form-step">
                <ng-template matStepLabel>Шаг 4<br/>Активация</ng-template>
                <h2>Завершите настройку и пройдите подтверждение</h2>
                <p>Чтобы получить доступ, необходимо подтвердить свою регистрацию. Код подтверждения,
                    отправлен на адрес <b>{{selectedEmail}}</b>. Если письма нет во входящих, проверьте папку “Спам”.</p>
                <mat-form-field>
                    <input matInput placeholder="Activation code" formControlName="activationCode" required>
                </mat-form-field>
                <div class="flex-row">
                    <span class="space-filler"></span>
                    <button mat-button (click)="activateAndClose()">Готово</button>
                </div>
            </form>
        </div>
    </mat-step>
</mat-horizontal-stepper>
<p class="error-label" *ngIf="errorMessage">{{errorMessage}}</p>