<mat-horizontal-stepper [linear]="true" #stepper class="register-new-org-component">
    <mat-step [stepControl]="orgFormGroup">
        <div class="register-new-org-form-step-container">
            <form [formGroup]="orgFormGroup" class="flex-column register-new-org-form-step">
                <ng-template matStepLabel>Step 1<br/>Organization</ng-template>
                <h1>Приступим!</h1>
                <p>Вся ваша команда включится в работу с первого дня с самой легкой в использовании CRM на рынке.
                    Интерфейс интуитивно понятен и не требует обучения или периода внедрения и адаптации. В течение 14
                    дней сервисом можно пользоваться бесплатно. <b>Скачивать программное обеспечение не требуется.</b>
                </p>
                <mat-form-field>
                    <input matInput placeholder="Organization name" formControlName="orgName" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Country" formControlName="country" [matAutocomplete]="auto"
                           phoneNumber required>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountry">
                        <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                            <span class="flag-icon flag-icon-{{country.flagCode.toLowerCase()}} flag-icon-squared"></span>
                            {{country.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div class="flex-row flex-end">
                    <button mat-button (click)="resetAndClose()">Cancel</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </div>
    </mat-step>

    <mat-step [stepControl]="ownerFormGroup">
        <div class="register-new-org-form-step-container">
            <form [formGroup]="ownerFormGroup" class="flex-column register-new-org-form-step">
                <ng-template matStepLabel>Step 2<br/>Organization owner</ng-template>
                <h2>Предоставьте свою контактную информацию</h2>
                <p>Вы создали аккаунт JCRM, поэтому будете назначены его
                    администратором. Позже эту роль можно передать
                    другому пользователю.</p>
                <mat-form-field>
                    <input matInput placeholder="First name" formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Second name" formControlName="secondName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Third name" formControlName="thirdName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" type="email" required>
                </mat-form-field>
                <mat-form-field>
                    <phone-number-input placeholder="Phone number" required></phone-number-input>
                </mat-form-field>
                <div class="flex-row">
                    <button mat-button matStepperPrevious>Back</button>
                    <span class="space-filler"></span>
                    <button mat-button>Cancel</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Step 3<br/>Subscribe</ng-template>
        <p>Got to hell</p>
        <div class="flex-row">
            <button mat-button matStepperPrevious>Back</button>
            <span class="space-filler"></span>
            <button mat-button>Cancel</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Step 4<br/>Activate</ng-template>
        <p>Got to hell</p>
        <div class="flex-row">
            <button mat-button matStepperPrevious>Back</button>
            <span class="space-filler"></span>
            <button mat-button>Cancel</button>
            <button mat-button>Activate</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>