@import '~@angular/material/theming';
@import 'variables';
@import 'mixins';

@include mat-core();

$color-primary: mat-palette($mat-indigo);
$color-accent: mat-palette($mat-pink, A200, A100, A400);

$color-app-warn: mat-palette($mat-red);
$main-app-theme: mat-light-theme($color-primary, $color-accent, $color-app-warn);

@include angular-material-theme($main-app-theme);
@include custom-components-theme($main-app-theme);

.space-filler {
  flex: 1 1 auto;
}

.flex-column {
  display: flex;
  flex: 100%;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex: 100%;
  flex-direction: row;
}

.flex-50 {
  flex: 50%;
}

.flex-100 {
  flex: 100%;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-center-items {
  align-items: center;
}

.radio-button-vertical {
  padding-top: 10px;
  padding-bottom: 10px;
}

.fill-width {
  flex: 1 1 auto;
}

.error-label {
  color: red;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filed-icon-wrapper {
  padding-bottom: 1.34375em;
}

.stepper-step-title {
  text-align: center;
  font-weight: normal;
}

.card-center-title {
  text-align: center;
  font-weight: normal;
}

.description-block {
  max-width: 90%;
}

/** CARD FORMS **/
.card-form-container {
  min-width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-form {
  align-items: center;
  display: flex;
  flex: 100%;
  flex-direction: column;
}

.card-form-field {
  width: 90%;
}

.card-form-description-block {
  width: 88%;
  align-content: start;
}

.card-form-button-container {
  display: flex;
  flex: 100%;
  flex-direction: row;
  width: 90%;
  justify-content: flex-end;
}
