<div class="login-form-container">
  <div class="login-form">

    <div>
      <h1>Login page</h1>
      <h4>Message</h4>
    </div>

    <form class="login-data-form" #loginForm="ngForm">
      <md-input-container class="login-data-row">
        <input mdInput placeholder="Username" id="username" [(ngModel)]="credentials.username" name="name"
               #name="ngModel">
      </md-input-container>
      <md-input-container class="login-data-row">
        <input mdInput placeholder="Password" type="password" id="password" required [(ngModel)]="credentials.password"
               name="password"
               #password="ngModel">
      </md-input-container>
      <button class="login-data-row" type="submit" md-button>Submit</button>
    </form>
  </div>

</div>
