
.login-form-container {
  width: 400px;
  margin: 0 auto;
}

.login-form {
}

.login-data-form {
}

.login-data-row {
  display: block;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}
