<div id="fab-button-dismiss"
     *ngIf="fabTogglerState==='active'"
     (click)="onToggleFab()">
</div>
<div class="fab-button-container">
  <button mat-fab class="fab-button-toggler"
          (click)="onToggleFab()">
    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i>
  </button>
  <div class="fab-button-container-items" [@speedDialStagger]="buttons.length">
    <button *ngFor="let btn of buttons"
            mat-mini-fab
            class="fab-secondary fab-button-container-item"
            color="secondary">
      <i class="material-icons">{{btn.icon}}</i>
    </button>
  </div>
</div>
