<mat-toolbar color="primary">

    <div class="hamburger hamburger--spin {{additionalHamburgerStyle}}" (click)="toggleSideNav()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </div>

    <span>JCRM</span>

    <div class="header-divider"></div>

    <span>Current Page</span>

    <form>
        <mat-form-field class="example-full-width">
            <input matInput type="search" placeholder="Favorite food" value="Sushi">
        </mat-form-field>
    </form>

    <span class="space-filler"></span>
    <span>Right Aligned Text</span>
</mat-toolbar>
<app-side-nav #sideNavComponent></app-side-nav>