<mat-toolbar color="primary">

    <div class="hamburger hamburger--spin {{additionalHamburgerStyle}}" (click)="toggleSideMenu()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </div>

    <span>JCRM</span>

    <div class="header-divider"></div>

    <span>Current Page</span>
    <span class="space-filler"></span>

    <mat-icon class="search-icon">search</mat-icon>
    <form class="search-form">
        <mat-form-field class="search-field">
            <input matInput type="search" placeholder="Search">
        </mat-form-field>
    </form>

    <span class="space-filler"></span>
    <span *ngIf="!isAuthenticated()">LOGIN</span>
</mat-toolbar>