@import '~@angular/material/theming';

@mixin side-nav-theme($theme) {

  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  app-side-nav {
    display: flex;
    flex: 100%;
  }

  .sidebar {
    display: flex;
    flex: 48px;
    flex-direction: column;
    background: mat-color($primary);
  }

  .main-view {
    display: flex;
    flex: 100%;
    flex-direction: column;
  }
}

mat-sidenav-content {
  display: flex;
  flex-direction: row;
  flex: 100%;
}

mat-sidenav-container {
  display: flex;
  flex: 100%;
}

.side-env-container {
  display: flex;
  flex: 100%;
  flex-direction: row;
}

.side-env-content {
  display: flex;
  flex: 100%;
  flex-direction: row;
}