@import '~@angular/material/theming';

@mixin side-nav-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 56px;
    background: mat-color($background, app-bar);
    color: mat-color($foreground, text);
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .main-view {
    display: flex;
    flex: 100%;
    flex-direction: column;
    border-width: 0px;
    border-left-width: 1px;
    border-color: lightgray;
    border-style: solid;
  }
}

:host {
  position: relative;
}
