<mat-sidenav-container class="side-env-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="opened">Start</mat-sidenav>
    <mat-sidenav-content class="side-env-content">
        <div class="sidebar">
            <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a>
            <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
            <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        </div>
        <div class="main-view">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>