@import '~@angular/material/theming';

@mixin side-nav-theme($theme) {

    .sidebar {
        height: 100%;
        width: 48px;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 16px;
    }

    .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }

    .sidebar a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 48px; /* Same as the width of the sidenav */
        padding: 0px 10px;
    }
}