<div fxLayout="column" fxFlex="100%">

  <div class="contact-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <perfect-scrollbar id="#contacts-scrollbar" app-relative-height [relativeHeightOffset]="6">
    <table class="table-contacts" mat-table [dataSource]="dataSource" matSort matSortActive="first_name"
           matSortDisableClear matSortDirection="desc">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllSelection() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="toggleSelection()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="toggleSelection(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="creation_date">
        <th mat-header-cell *matHeaderCellDef>Creation date</th>
        <td mat-cell *matCellDef="let element">Unsupported</td>
      </ng-container>
      <ng-container matColumnDef="assigner">
        <th mat-header-cell *matHeaderCellDef>Assigner</th>
        <td mat-cell *matCellDef="let element">{{buildAssignerName(element)}}</td>
      </ng-container>
      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef>Full name</th>
        <td mat-cell *matCellDef="let element">{{buildFullName(element)}}</td>
      </ng-container>
      <ng-container matColumnDef="phone_numbers">
        <th mat-header-cell *matHeaderCellDef>Phone numbers</th>
        <td mat-cell *matCellDef="let element">{{buildPhoneNumbers(element)}}</td>
      </ng-container>
      <ng-container matColumnDef="emails">
        <th mat-header-cell *matHeaderCellDef>Emails</th>
        <td mat-cell *matCellDef="let element">{{buildEmails(element)}}</td>
      </ng-container>
      <ng-container matColumnDef="deals">
        <th mat-header-cell *matHeaderCellDef>Deals</th>
        <td mat-cell *matCellDef="let element">Unsupported</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="contact-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openContact(row)"></tr>
    </table>
  </perfect-scrollbar>
  <span fxLayout="column" relative-height="ignore"></span>
  <mat-paginator class="mat-paginator-left-layout" [length]="resultsLength"
                 [pageSize]="pageSize"
                 [hidePageSize]="true"
                 (page)="pageEvent = $event">
  </mat-paginator>
</div>
<app-fab-button [availableButtons]="fabButtons"></app-fab-button>
