
.phone-number-input-country-code {
  max-width: 36px;
  text-align: center;
}

.phone-number-input-region-code {
  max-width: 28px;
  text-align: center;
}

.phone-number-input-code-wrapper {
  opacity: 0;
  transition: opacity 200ms;
}

:host.phone-number-input-floating .phone-number-input-code-wrapper {
  opacity: 1;
}
