<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center start">
  <div fxLayout="row" fxFill fxFlex="100%" fxLayoutAlign="space-between center">
    <mat-label fxFlex="90%">{{ 'CONTACT.FIELD.EMAIL' | translate }}</mat-label>
    <button mat-icon-button color="primary" aria-label="Add">
      <mat-icon (click)="addNew()">add_circle_outline</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxFill fxFlex="100%" fxLayoutAlign="space-between center"
       *ngFor="let element of entities">
    <div fxLayout="column" fxFlex="40%">
      <mat-form-field floatLabel="never">
        <mat-label>{{ 'CONTACT.FIELD.EMAIL' | translate }}</mat-label>
        <input matInput [formControl]="findControlsFor(element)[0]" required/>
        <mat-error *ngIf="findControlsFor(element)[0].invalid">
          {{getEmailErrorMessage(findControlsFor(element)[0])}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="40%">
      <mat-form-field floatLabel="never">
        <mat-label>Type</mat-label>
        <mat-select value="{{element.type}}" [formControl]="findControlsFor(element)[1]"
                    (selectionChange)="changeEmailType(element, $event)">
          <mat-option *ngFor="let type of availableEmailTypes" value="{{type}}">
            {{getEmailTypeDescription(type)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-icon-button color="warn" aria-label="Remove">
      <mat-icon (click)="remove(element)">remove_circle_outline</mat-icon>
    </button>
  </div>
  <span style="padding-bottom: 5px" *ngIf="entities.length < 1"></span>
</div>

