<mat-sidenav-container fxLayout="column" fxFlex="100%" style="display: flex">
  <mat-sidenav mode="over">
    <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center" class="sidebar">
      <button mat-icon-button routerLink=".">
        <mat-icon>contacts</mat-icon>
      </button>
      <button mat-icon-button routerLink="./contacts">
        <mat-icon>local_offer</mat-icon>
      </button>
      <button mat-icon-button routerLink=".">
        <mat-icon>calendar_today</mat-icon>
      </button>
      <span fxLayout="column" fxFlex="100%"></span>
      <button mat-icon-button routerLink=".">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" fxFlex="100%" style="display: flex">
    <div fxLayout="row" fxFlex="100%" >
      <div #staticSidePanel class="sidebar flex-center-items">
        <button mat-icon-button routerLink=".">
          <mat-icon>contacts</mat-icon>
        </button>
        <button mat-icon-button routerLink="./contacts">
          <mat-icon>local_offer</mat-icon>
        </button>
        <button mat-icon-button routerLink=".">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <span fxLayout="column" fxFlex="100%"></span>
        <button mat-icon-button routerLink=".">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <div class="main-view">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
