@import '~@angular/material/theming';

@mixin side-nav-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 72px;
    min-width: 72px;
    background: mat-color($background, app-bar);
    color: mat-color($foreground, text);
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .expanded-sidebar {
    width: 200px;
    min-width: 200px;
  }

  .expanded-sidebar-item {
    width: 190px;
    min-width: 190px;
  }

  .main-view {
    border-width: 0;
    border-left-width: 1px;
    border-color: lightgray;
    border-style: solid;
  }

  .main-view-padding {
    padding-right: 56px;
    padding-left: 56px;
  }
}

:host {
  position: relative;
}
