@import '../../../../node_modules/@angular/material/theming';

@mixin no-auth-home($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .no-auth-tool-bar-separator {
    background-color: mat-color($foreground, divider);
    height: 1px;
  }
}

.no-auth-tool-bar {
  padding-left: 4px;
  padding-right: 4px;
}

.no-auth-toolbar-button {
  margin-left: 8px;
}

.no-auth-toolbar-multiple-rows {
  min-height: 48px;
  max-height: 48px;
}
