<mat-tab-group class="mat-tab-fill-height" fxFlex="100%" [selectedIndex]="selectedTab"
               (selectedIndexChange)="changeSelectedTab($event)" animationDuration="0ms">
  <mat-tab label="Organization">
    <ng-template matTabContent>
      <div fxLayout="column" fxFlex="100%">
        Content 1
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Users">
    <ng-template matTabContent>
      <div fxLayout="column" fxFlex="100%">
        <app-users></app-users>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Groups">
    <ng-template matTabContent>
      <div fxLayout="column" fxFlex="100%">
        <app-user-groups></app-user-groups>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
