<div class="register-form-container">
  <div class="register-form">

    <div class="register-text-container">
      <h2 class="register-page-title">Registration</h2>
      <h3 class="register-page-error" [hidden]="error.length == 0">
        {{error}}
      </h3>
    </div>

    <form class="register-data-form mat-elevation-z2" (ngSubmit)="tryRegister()" #registerForm="ngForm">
      <md-input-container class="register-data-row">
        <input mdInput placeholder="Email" id="email" required type="email"
               [(ngModel)]="info.email" name="email"
               #email="ngModel">
      </md-input-container>
      <md-input-container class="register-data-row">
        <input mdInput placeholder="Name" id="name"
               required minlength="{{minFirstNameLength}}"
               maxlength="{{maxFirstNameLength}}"
               [(ngModel)]="info.name"
               name="name"
               #name="ngModel">
      </md-input-container>
      <md-input-container class="register-data-row">
        <input mdInput placeholder="Phone number" id="phone-number"
               [(ngModel)]="info.phoneNumber"
               name="phone-number"
               #prohneNumber="ngModel">
      </md-input-container>
      <button class="register-data-row register-button" type="submit" md-raised-button color="primary"
              [disabled]="!registerForm.form.valid">Register
      </button>
    </form>
  </div>
</div>
