<mat-sidenav-container fxLayout="column" fxFlex="100%">
  <mat-sidenav mode="over">
    <div fxLayout="column" fxFlex="100%" fxLayoutAlign="start center" class="expanded-sidebar sidebar">
      <button mat-button class="expanded-sidebar-item" routerLink="./contacts">
        <mat-icon>contacts</mat-icon>
        Contacts
      </button>
      <button mat-button class="expanded-sidebar-item" style="padding-bottom: 4px" routerLink="./contacts">
        <mat-icon>contacts</mat-icon>
        Contacts
      </button>
      <span fxLayout="column" fxFlex="100%"></span>
      <button mat-button class="expanded-sidebar-item" routerLink="./settings">
        <mat-icon>settings</mat-icon>
        Settings
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" fxFlex="100%">
    <div fxLayout="row" fxFlex="100%" >
      <div fxHide.xs="true" *ngIf="showSideMenu" class="sidebar flex-center-items">
        <button mat-icon-button routerLink="./contacts">
          <mat-icon>contacts</mat-icon>
        </button>
        <button mat-icon-button routerLink=".">
          <mat-icon>local_offer</mat-icon>
        </button>
        <button mat-icon-button routerLink=".">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <span fxLayout="column" fxFlex="100%"></span>
        <button mat-icon-button routerLink="./settings">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <div #mainView fxLayout="column" fxFlex="100%" class="main-view">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
