/* You can add global styles to this file, and also import other style files */
.root {
  background-color: #303030;
}

.app-bar {
  margin: 0;
  background: #212121;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  height: 36px;
}

.m-toolbar-button {
  float: left;
  text-align: center;
  background: transparent;
  padding: 8px 0 0 0;
  height: 100%;
  width: 100px;
  color: white;
}

.m-toolbar-button:hover {
  color: white;
  text-decoration: none;
}

.m-toolbar-button:active {
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: white;
  outline: none;
}

.m-toolbar-button:focus {
  text-decoration: none;
  outline: none;
  color: white;
}

.m-toolbar-button-active {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  text-decoration: none;
  outline: none;
}
