/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

/**
.root {
  background-color: #303030;
}


.m-toolbar-button {
  float: left;
  text-align: center;
  background: transparent;
  padding: 8px 0 0 0;
  height: 100%;
  width: 100px;
  color: white;
}

.m-toolbar-button:hover {
  color: white;
  text-decoration: none;
}

.m-toolbar-button:active {
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: white;
  outline: none;
}

.m-toolbar-button:focus {
  text-decoration: none;
  outline: none;
  color: white;
}

.m-toolbar-button-active {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  text-decoration: none;
  outline: none;
}
*/
