<mat-tab-group>
  <mat-tab label="Main">
    <div class="tab-content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px" fxLayoutGap.xs="14px">
      <div fxLayout="column" fxFlex="100%" class="contact-info-container">
        <div fxLayout="row" fxFlex="100%" class="contact-info-header">
          <p>{{ 'CONTACT.VIEW.LABELS.ABOUT' | translate }}</p>
        </div>
        <form [formGroup]="contactInfoFormGroup">
          <mat-form-field class="form-field">
            <mat-label>{{ 'CONTACT.FIELD.ASSIGNER' | translate }}</mat-label>
            <user-input formControlName="assigner" required></user-input>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>{{ 'CONTACT.FIELD.CURATORS' | translate }}</mat-label>
            <users-input formControlName="curators"></users-input>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>{{ 'CONTACT.FIELD.FIRST_NAME' | translate }}</mat-label>
            <input matInput formControlName="firstName" maxlength="{{contactNameMaxLength}}" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>{{ 'CONTACT.FIELD.SECOND_NAME' | translate }}</mat-label>
            <input matInput formControlName="secondName" maxlength="{{contactNameMaxLength}}" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>{{ 'CONTACT.FIELD.THIRD_NAME' | translate }}</mat-label>
            <input matInput formControlName="thirdName" maxlength="{{contactNameMaxLength}}">
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>{{ 'CONTACT.FIELD.BIRTHDAY' | translate }}</mat-label>
            <input matInput [matDatepicker]="birthdayDatepicker" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #birthdayDatepicker></mat-datepicker>
          </mat-form-field>
          <contact-phones-input formControlName="phoneNumbers"></contact-phones-input>
          <contact-emails-input formControlName="emails"></contact-emails-input>
          <contact-sites-input formControlName="sites"></contact-sites-input>
          <contact-messengers-input formControlName="messengers"></contact-messengers-input>
          <mat-form-field class="form-field">
            <mat-label>{{ 'CONTACT.FIELD.COMPANY' | translate }}</mat-label>
            <input matInput formControlName="company" maxlength="{{contactCompanyMaxLength}}">
          </mat-form-field>
        </form>
        <div fxLayout="row" fxFlex="100%" class="contact-info-button-container" fxLayoutAlign="end center">
          <button *ngIf="!editContactInfo" class="contact-info-button" mat-raised-button color="primary">
            {{ 'CONTACT.VIEW.ACTIONS.EDIT' | translate }}
          </button>
          <button *ngIf="editContactInfo && contact != null && contact.id"
                  [disabled]="disabled || !contactInfoFormGroup.valid || !hasChangesInContactInfo"
                  class="contact-info-button" mat-raised-button color="primary">
            {{ 'CONTACT.VIEW.ACTIONS.SAVE' | translate }}
          </button>
          <button *ngIf="editContactInfo && contact != null && !contact.id"
                  [disabled]="disabled || !contactInfoFormGroup.valid"
                  class="contact-info-button" mat-raised-button color="primary" (click)="create()">
            {{ 'CONTACT.VIEW.ACTIONS.CREATE' | translate }}
          </button>
        </div>
      </div>
      <div fxFlex="100%" class="container">
        Notes
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Offers"> Content 2</mat-tab>
  <mat-tab label="Processes"> Content 3</mat-tab>
  <mat-tab label="History"> Content 4</mat-tab>
</mat-tab-group>
