<mat-tab-group>
  <mat-tab label="Main">
    <div class="tab-content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px" fxLayoutGap.xs="14px">
      <div fxLayout="column" fxFlex="100%" class="container">
        <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between" class="contact-info-header">
          <p>ABOUT</p>
          <button *ngIf="!editContactInfo" class="contact-info-button" mat-button color="primary">EDIT</button>
          <button *ngIf="editContactInfo && contact.id" [disabled]="!contactInfoFormGroup.valid"
                  class="contact-info-button" mat-button color="primary">SAVE
          </button>
          <button *ngIf="editContactInfo && !contact.id" [disabled]="!contactInfoFormGroup.valid"
                  class="contact-info-button" mat-button color="primary" (click)="create()">CREATE
          </button>
        </div>
        <form [formGroup]="contactInfoFormGroup">
          <mat-grid-list cols="1" [rowHeight]="rowHeight" [gutterSize]="gutterSize">
            <mat-grid-tile>
              <mat-form-field class="form-field">
                <mat-label>Assigner</mat-label>
                <input matInput formControlName="assigner">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="form-field">
                <mat-label>Curators</mat-label>
                <input matInput formControlName="curators">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="form-field">
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstName" required>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="form-field">
                <mat-label>Second name</mat-label>
                <input matInput formControlName="secondName" required>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="form-field">
                <mat-label>Third name</mat-label>
                <input matInput formControlName="thirdName" required>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="form-field">
                <mat-label>Birthday</mat-label>
                <input matInput formControlName="birthday">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </div>
      <div fxFlex="100%" class="container">
        Notes
        Notes
        Notes
        Notes
        Notes
        Notes
        Notes
        Notes
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Offers"> Content 2</mat-tab>
  <mat-tab label="Processes"> Content 3</mat-tab>
  <mat-tab label="History"> Content 4</mat-tab>
</mat-tab-group>
