<md-toolbar class="app-bar mat-elevation-z6" color="primary">
  <button md-button class="m-toolbar-button" routerLink="/dashboard" routerLinkActive="m-toolbar-button-active">Home
  </button>
  <span class="app-toolbar-filler"></span>
  <button md-button class="m-toolbar-button" *ngIf="!authed" routerLink="/login"
          routerLinkActive="m-toolbar-button-active">Login
  </button>
  <button md-button class="m-toolbar-button" *ngIf="!authed" routerLink="/register"
          routerLinkActive="m-toolbar-button-active">Register
  </button>
  <button md-button class="m-toolbar-button" *ngIf="authed" routerLink="/" (click)="logout()">Logout</button>
</md-toolbar>
<div class="root-content">
  <router-outlet></router-outlet>
</div>

